html{
    scroll-behavior: smooth;
}

body{
    background-color:#f2efe9 ;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.img_logo{
    width: 15%;
}

.menu, footer{
    background-color: #cac8c5 ;
    padding: 1.5%;
    font-family: 'Bebas Neue', cursive;
}

.itens_menu{
    line-height: 1.5;
    text-align: center;
}

.itens_menu a{
    font-size: 1.2em;
}
  
.itens_menu a:link{
   
    color: #fff;
    text-decoration: none;
}
    
   
.itens_menu a:visited {
    color: #FFF;
    text-decoration: none;
}
    
/* mouse over link */
.itens_menu a:hover {
    color: #fff;
    padding: 0.8%;    
    background-color: rgba(128, 128, 128, 0.3); 
    text-decoration: none;
    border-radius: 15%;
  
}
    
/* selected link */
.itens_menu a:active {
      color: #FFF;
      text-decoration: none;
}

section a:link{
    color: #696969;
  }
  
  section a:visited {
    color: #FFF; 
  }
  
  section a:hover{
    color: #9211e9;
  }

.fundo_diferente{
    background-image: linear-gradient(right, #f2f2f2c4, #fcfcfc );
}

.img_topo{
    width: 50%;
}

.img_corpo{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: #1E90FF;
    font-size: 2em;
    font-family: 'Staatliches', cursive;
}
h2{
    text-align: center;
    color: #1E90FF;
    font-size: 1.5em;
    margin-bottom: 2%;
    font-family: 'Staatliches', cursive;

}

h3{
    margin-left: 50px;
    color: #1E90FF;
    font-size: 1.5em;
    margin-bottom: 2%;
    font-family: 'Staatliches', cursive;
}

p{
    font-size: 1.4em;
    color: #222222;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    font-family: 'Moulpali', cursive;
}

.parag_letras > p{
    font-size: 1em;
    line-height: 1.5;

}

.pinta_botao {
    width: 150px;
    margin: 50px;
    background-image : linear-gradient(right, #F08080, #fff  );
    margin: auto;            
}

.botao {
    padding-top :  15px ;
    
}

footer > p{
      font-size: 1.2em;
      text-align: center;
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.escondido{
    display: none;
}
 
.direita{
    float: right;
    width: 20%;
    margin-left: 1.5%;
}

.esquerda{
    float: left;
    width: 20%;
    margin-right: 1.5%;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
  }
  
  td{
    font
  }
  
  td,th{
    border: 5px inset #8B0000;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }